<!DOCTYPE html>
<html lang="en">

<article>
<p><b>Twitter stream with Indico analysis (<%= @tweet_limit %> scraped)</b></p>

<% for i in 0..(@tweet_limit-1) %>
<p><b><%= @sentiments[i].to_s %></b>: <%= @statuses[i].to_s %></p>
<% end %>

<canvas id="canvasGame" width="800" height="600">></canvas>
<%= javascript_include_tag "cell", "data-turbolinks-track" => true %>
<%= javascript_include_tag "organelle", "data-turbolinks-track" => true %>
<%= javascript_include_tag "canvasgame", "data-turbolinks-track" => true %>

</article>
       
</html>